@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
}
.container{
    display:flex;
    margin:10% auto;
    width:50%;
    height:50%;
    overflow:hidden;
    border-radius: 10px;
}
